<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>{{ url }}</p>
<table border="1">
        {% for key, element in data %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ element }}{{ "<br>" }}</td>
        </tr>
        {% endfor %}
</table>
</body>
</html>