<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="get" action="/twig.php">
    <fieldset>
        <legend>Greeting</legend>
        <label for="user">Enter your name</label>
        <input type="text" name="user" id="user">
        <input type="submit">
    </fieldset>
</form>

<form method="get" action="/github.php">
    <fieldset>
        <legend>Viewing information about user from <a href="https://github.com">github.com</a></legend>
        <label for="user">Enter your github name</label>
        <input type="text" name="user" id="user">
        <input type="submit">
    </fieldset>
</form>
</body>
</html>
